# structure gemini putputs with pydantic

In [1]:
from google import genai
client = genai.Client()

response = client.models.generate_content(
    model= "gemini-2.5-flash",
    contents = """List a few asian soups recipes, a yummy description and list the ingredients
    give me fields of
    recipe_name: str
    description: str
    ingredients: list[str]

    not in markdown format
    """
)

print(response.text)

recipe_name: Spicy Thai Tom Yum Goong
description: A vibrant and aromatic Thai hot and sour soup that awakens your taste buds with its fiery chili kick, refreshing lemongrass, galangal, and kaffir lime leaves, all swimming with succulent shrimp and mushrooms. It's a symphony of tangy, spicy, and savory flavors that truly brightens any meal and leaves you craving more.
ingredients:
- Shrimp, peeled and deveined
- Mushrooms (straw or button)
- Lemongrass, bruised and sliced
- Galangal, sliced
- Kaffir lime leaves, torn
- Fish sauce
- Lime juice
- Thai bird's eye chilies, crushed (or chili paste)
- Cherry tomatoes, halved
- Cilantro, chopped
- Chicken or vegetable broth
- Evaporated milk or coconut milk (optional, for creamy version)

recipe_name: Savory Japanese Shoyu Ramen
description: Dive into a comforting bowl of Japanese ramen, featuring a deep, umami-rich soy sauce-based broth that's both hearty and incredibly satisfying. Topped with tender slices of chashu pork, a perfectly soft-boiled egg, springy noodles, and crisp nori, it's a soul-warming culinary hug that transports you straight to the bustling streets of Tokyo with every delicious slurp.
ingredients:
- Ramen noodles (fresh or dried)
- Chashu pork (braised pork belly)
- Soft-boiled egg (Ajitama)
- Nori (seaweed) sheets
- Scallions, sliced
- Fish cakes (narutomaki, optional)
- Soy sauce (shoyu)
- Mirin
- Sake
- Chicken or pork broth
- Ginger, garlic
- Sesame oil

recipe_name: Aromatic Vietnamese Beef Pho
description: Experience the quintessential Vietnamese comfort food: a deeply aromatic beef noodle soup with a broth that's been lovingly simmered for hours with warming spices like star anise, cloves, and cinnamon. Laden with tender slices of beef, slippery rice noodles, and a fresh garnish of herbs, bean sprouts, and lime, each spoonful is a fragrant journey of savory perfection that soothes the soul.
ingredients:
- Beef bones (knuckles, oxtail)
- Beef chuck or brisket
- Flat rice noodles (banh pho)
- Onion, ginger
- Star anise, cinnamon sticks, cloves, cardamom pods, coriander seeds
- Fish sauce
- Sugar
- Bean sprouts
- Fresh herbs (basil, cilantro, mint)
- Limes
- Green onions, sliced
- Sriracha, hoisin sauce (for serving)

recipe_name: Creamy Malaysian Curry Laksa
description: A profoundly flavorful and wonderfully rich noodle soup, Malaysian Curry Laksa boasts a vibrant, spicy, and intensely aromatic coconut milk broth infused with a complex blend of curry spices. Generously filled with slippery noodles, succulent shrimp, tender chicken, and various toppings, it's a deliciously creamy, spicy, and utterly addictive culinary masterpiece that's pure comfort in a bowl.
ingredients:
- Coconut milk
- Laksa paste (store-bought or homemade with chilies, shallots, garlic, ginger, galangal, lemongrass, turmeric)
- Chicken or seafood broth
- Rice vermicelli noodles and/or yellow egg noodles
- Shrimp, peeled
- Chicken breast or thigh, shredded
- Tofu puffs (tau pok)
- Fish cakes, sliced
- Bean sprouts
- Fresh cilantro
- Lime
- Hard-boiled egg, halved (optional)

In [ ]:
from pydantic import BaseModel
class Recipe(BaseModel):
    recipe_name: str
    description: str
    ingredients: list[str]

client = genai.Client()

response = client.models.generate_content(
    model= "gemini-2.5-flash",
    contents = "List a few asian soups recipes, a yummy description and list the ingredients",
    config= {"response_mime_type": "application/json", "response_schema": list[Recipe]} # nu får man json data istället, mer robust
    )


print(response.text)

[{"recipe_name":"Tom Yum Goong","description":"A vibrant and aromatic Thai hot and sour soup, famous for its bold flavors. It's a delightful balance of spicy chili, tangy lime, savory fish sauce, and fresh herbs, typically served with plump shrimp and mushrooms.","ingredients":["Shrimp","Lemongrass","Galangal","Kaffir lime leaves","Lime juice","Fish sauce","Chili paste","Mushrooms","Cilantro","Tomatoes","Chicken or vegetable broth"]},
{"recipe_name":"Miso Soup","description":"A quintessential Japanese comfort food, this savory and light soup is made from dashi (a flavorful broth) and miso paste. It's often accompanied by small cubes of silken tofu, wakame seaweed, and thinly sliced scallions, offering a delicate umami experience.","ingredients":["Miso paste","Dashi broth","Tofu","Wakame seaweed","Scallions"]},
{"recipe_name":"Pho Bo","description":"A beloved Vietnamese noodle soup renowned for its incredibly fragrant and complex broth, simmered for hours with star anise, cinnamon, and ginger. It features tender rice noodles, thinly sliced beef, and is served with a side of fresh herbs, bean sprouts, lime, and chilies.","ingredients":["Beef bones","Beef flank steak","Rice noodles","Onion","Ginger","Star anise","Cinnamon stick","Cloves","Fish sauce","Sugar","Salt","Bean sprouts","Basil","Mint","Lime","Jalapenos"]}]

In [6]:
recipes = response.parsed
recipes, len(recipes)

([Recipe(recipe_name='Tom Yum Goong', description="A vibrant and aromatic Thai hot and sour soup, famous for its bold flavors. It's a delightful balance of spicy chili, tangy lime, savory fish sauce, and fresh herbs, typically served with plump shrimp and mushrooms.", ingredients=['Shrimp', 'Lemongrass', 'Galangal', 'Kaffir lime leaves', 'Lime juice', 'Fish sauce', 'Chili paste', 'Mushrooms', 'Cilantro', 'Tomatoes', 'Chicken or vegetable broth']),
  Recipe(recipe_name='Miso Soup', description="A quintessential Japanese comfort food, this savory and light soup is made from dashi (a flavorful broth) and miso paste. It's often accompanied by small cubes of silken tofu, wakame seaweed, and thinly sliced scallions, offering a delicate umami experience.", ingredients=['Miso paste', 'Dashi broth', 'Tofu', 'Wakame seaweed', 'Scallions']),
  Recipe(recipe_name='Pho Bo', description='A beloved Vietnamese noodle soup renowned for its incredibly fragrant and complex broth, simmered for hours with star anise, cinnamon, and ginger. It features tender rice noodles, thinly sliced beef, and is served with a side of fresh herbs, bean sprouts, lime, and chilies.', ingredients=['Beef bones', 'Beef flank steak', 'Rice noodles', 'Onion', 'Ginger', 'Star anise', 'Cinnamon stick', 'Cloves', 'Fish sauce', 'Sugar', 'Salt', 'Bean sprouts', 'Basil', 'Mint', 'Lime', 'Jalapenos'])],
 3)

In [7]:
recipes[0].description

"A vibrant and aromatic Thai hot and sour soup, famous for its bold flavors. It's a delightful balance of spicy chili, tangy lime, savory fish sauce, and fresh herbs, typically served with plump shrimp and mushrooms."

## Simulate house prices

In [8]:
from typing import Literal

class Home(BaseModel):
    price: int
    mothly_fee: float
    living_area: float
    number_rooms: int
    type: Literal["apartment", "house"]
    address: str

repsonse = client.models.generate_content(
    model= "gemini-2.5-flash",
    contents= """
    List 50 apartments and houses in Sweden with their price, monthly fee, living area, number of rooms, type if it is apartment or house.
    All currencies should be in SEK. Data should be simulation of swedish housing.
""",
    config= {"response_mime_type": "application/json", "response_schema": list[Home]}
)

In [11]:
homes = repsonse.parsed
len(homes)

50

In [15]:
homes[0].__dict__

{'price': 5500000,
 'mothly_fee': 4327.4,
 'living_area': 95.5,
 'number_rooms': 3,
 'type': 'apartment',
 'address': 'Ringvägen 89, Göteborg'}

In [13]:
import pandas as pd

homes

[Home(price=5500000, mothly_fee=4327.4, living_area=95.5, number_rooms=3, type='apartment', address='Ringvägen 89, Göteborg'),
 Home(price=7100000, mothly_fee=5374.8, living_area=119.4, number_rooms=4, type='apartment', address='Skogsvägen 62, Uppsala'),
 Home(price=5700000, mothly_fee=5866.5, living_area=130.4, number_rooms=4, type='house', address='Vasgatan 13, Jönköping'),
 Home(price=2900000, mothly_fee=4043.9, living_area=99.5, number_rooms=3, type='house', address='Tallvägen 70, Linköping'),
 Home(price=6600000, mothly_fee=6021.9, living_area=133.8, number_rooms=4, type='house', address='Björkstigen 97, Malmö'),
 Home(price=3800000, mothly_fee=3863.6, living_area=95.1, number_rooms=3, type='house', address='Kyrkvägen 20, Örebro'),
 Home(price=3000000, mothly_fee=2642.5, living_area=67.6, number_rooms=3, type='apartment', address='Skogsallén 87A, Linköping'),
 Home(price=4600000, mothly_fee=4100.9, living_area=101.9, number_rooms=4, type='apartment', address='Kyrkplatsen 13, Norrköping'),
 Home(price=2400000, mothly_fee=2074.8, living_area=50.8, number_rooms=2, type='apartment', address='Tallstigen 69, Helsingborg'),
 Home(price=4300000, mothly_fee=4160.7, living_area=100.3, number_rooms=4, type='house', address='Stora gränd 71, Uppsala'),
 Home(price=5900000, mothly_fee=5000.3, living_area=111.9, number_rooms=4, type='house', address='Östra torget 97, Stockholm'),
 Home(price=7500000, mothly_fee=6591.2, living_area=146.5, number_rooms=5, type='house', address='Björkvägen 6, Helsingborg'),
 Home(price=3600000, mothly_fee=3419.8, living_area=83.4, number_rooms=3, type='apartment', address='Ringvägen 56, Malmö'),
 Home(price=3100000, mothly_fee=2486.2, living_area=60.5, number_rooms=2, type='apartment', address='Tegnérsbacken 74, Örebro'),
 Home(price=6300000, mothly_fee=5611.8, living_area=139.7, number_rooms=4, type='house', address='Vasgatan 5, Örebro'),
 Home(price=6800000, mothly_fee=6082.9, living_area=136.2, number_rooms=4, type='house', address='Ringvägen 70, Uppsala'),
 Home(price=4900000, mothly_fee=4430.7, living_area=109.9, number_rooms=4, type='apartment', address='Stora gatan 65, Norrköping'),
 Home(price=2300000, mothly_fee=1861.9, living_area=46.1, number_rooms=2, type='apartment', address='Fasangränd 53, Helsingborg'),
 Home(price=4700000, mothly_fee=4306.4, living_area=106.7, number_rooms=4, type='house', address='Ringallén 5, Norrköping'),
 Home(price=4600000, mothly_fee=4465.7, living_area=110.1, number_rooms=4, type='house', address='Kyrkallén 12, Malmö'),
 Home(price=7400000, mothly_fee=6405.0, living_area=142.0, number_rooms=5, type='house', address='Drottningstigen 38, Göteborg'),
 Home(price=2000000, mothly_fee=1928.9, living_area=47.7, number_rooms=2, type='apartment', address='Björkgatan 98, Göteborg'),
 Home(price=6700000, mothly_fee=5599.6, living_area=124.9, number_rooms=4, type='house', address='Kungstigen 32, Jönköping'),
 Home(price=5100000, mothly_fee=4699.6, living_area=114.2, number_rooms=4, type='apartment', address='Kungsvägen 75, Helsingborg'),
 Home(price=3500000, mothly_fee=3588.6, living_area=87.5, number_rooms=3, type='apartment', address='Strandbacken 63, Västerås'),
 Home(price=3100000, mothly_fee=3287.4, living_area=80.3, number_rooms=3, type='apartment', address='Kyrkplatsen 59, Linköping'),
 Home(price=4900000, mothly_fee=4418.0, living_area=109.6, number_rooms=4, type='apartment', address='Tallvägen 17, Örebro'),
 Home(price=6000000, mothly_fee=5100.1, living_area=113.8, number_rooms=4, type='apartment', address='Strandallén 78, Stockholm'),
 Home(price=5200000, mothly_fee=4831.6, living_area=122.9, number_rooms=4, type='house', address='Västra vägen 31, Jönköping'),
 Home(price=3800000, mothly_fee=3877.8, living_area=96.7, number_rooms=3, type='house', address='Vasallén 81, Linköping'),
 Home(price=6900000, mothly_fee=5960.5, living_area=132.8, number_rooms=4, type='house', address='Fasanbacken 56, Malmö'),
 Home(price=4500000, mothly_fee=4260.6, living_area=104.9, number_rooms=4, type='apartment', address='Granvägen 96, Uppsala'),
 Home(price=3100000, mothly_fee=2677.3, living_area=69.8, number_rooms=3, type='apartment', address='Tallvägen 90, Västerås'),
 Home(price=4200000, mothly_fee=4109.9, living_area=100.1, number_rooms=4, type='house', address='Stora gatan 21, Linköping'),
 Home(price=2500000, mothly_fee=2146.1, living_area=52.9, number_rooms=2, type='apartment', address='Vasplatsen 24, Norrköping'),
 Home(price=6300000, mothly_fee=5305.2, living_area=117.9, number_rooms=4, type='apartment', address='Tallgränd 41, Göteborg'),
 Home(price=5800000, mothly_fee=5374.3, living_area=128.8, number_rooms=4, type='house', address='Granvägen 34, Stockholm'),
 Home(price=6400000, mothly_fee=5645.7, living_area=125.5, number_rooms=4, type='house', address='Drottninggatan 10, Malmö'),
 Home(price=3800000, mothly_fee=3665.3, living_area=87.5, number_rooms=3, type='apartment', address='Solallén 82, Jönköping'),
 Home(price=1800000, mothly_fee=1869.6, living_area=39.5, number_rooms=1, type='apartment', address='Lilla gatan 36, Linköping'),
 Home(price=3700000, mothly_fee=3757.2, living_area=92.0, number_rooms=3, type='house', address='Vasbacken 44, Jönköping'),
 Home(price=5300000, mothly_fee=4817.8, living_area=120.3, number_rooms=4, type='house', address='Solstigen 33, Örebro'),
 Home(price=2100000, mothly_fee=1880.0, living_area=45.3, number_rooms=2, type='apartment', address='Björkvägen 35, Norrköping'),
 Home(price=7000000, mothly_fee=6107.0, living_area=135.8, number_rooms=4, type='house', address='Stora vägen 20, Helsingborg'),
 Home(price=4400000, mothly_fee=4142.1, living_area=102.7, number_rooms=4, type='house', address='Kyrkstigen 18, Uppsala'),
 Home(price=3300000, mothly_fee=2923.4, living_area=72.9, number_rooms=3, type='apartment', address='Tallgatan 48, Helsingborg'),
 Home(price=5400000, mothly_fee=4749.1, living_area=117.7, number_rooms=4, type='apartment', address='Tegnérsbacken 79, Västerås'),
 Home(price=3200000, mothly_fee=3337.8, living_area=81.8, number_rooms=3, type='house', address='Tallbacken 6, Malmö'),
 Home(price=2700000, mothly_fee=2341.6, living_area=58.8, number_rooms=2, type='apartment', address='Vasallén 91, Stockholm'),
 Home(price=7900000, mothly_fee=6884.6, living_area=153.0, number_rooms=5, type='house', address='Centralgatan 85, Stockholm')]

In [ ]:
pd.DataFrame(homes) # ser förjävlig ut

,0,1,2,3,4,5
0,"(price, 5500000)","(mothly_fee, 4327.4)","(living_area, 95.5)","(number_rooms, 3)","(type, apartment)","(address, Ringvägen 89, Göteborg)"
1,"(price, 7100000)","(mothly_fee, 5374.8)","(living_area, 119.4)","(number_rooms, 4)","(type, apartment)","(address, Skogsvägen 62, Uppsala)"
2,"(price, 5700000)","(mothly_fee, 5866.5)","(living_area, 130.4)","(number_rooms, 4)","(type, house)","(address, Vasgatan 13, Jönköping)"
3,"(price, 2900000)","(mothly_fee, 4043.9)","(living_area, 99.5)","(number_rooms, 3)","(type, house)","(address, Tallvägen 70, Linköping)"
4,"(price, 6600000)","(mothly_fee, 6021.9)","(living_area, 133.8)","(number_rooms, 4)","(type, house)","(address, Björkstigen 97, Malmö)"
5,"(price, 3800000)","(mothly_fee, 3863.6)","(living_area, 95.1)","(number_rooms, 3)","(type, house)","(address, Kyrkvägen 20, Örebro)"
6,"(price, 3000000)","(mothly_fee, 2642.5)","(living_area, 67.6)","(number_rooms, 3)","(type, apartment)","(address, Skogsallén 87A, Linköping)"
7,"(price, 4600000)","(mothly_fee, 4100.9)","(living_area, 101.9)","(number_rooms, 4)","(type, apartment)","(address, Kyrkplatsen 13, Norrköping)"
8,"(price, 2400000)","(mothly_fee, 2074.8)","(living_area, 50.8)","(number_rooms, 2)","(type, apartment)","(address, Tallstigen 69, Helsingborg)"
9,"(price, 4300000)","(mothly_fee, 4160.7)","(living_area, 100.3)","(number_rooms, 4)","(type, house)","(address, Stora gränd 71, Uppsala)"
10,"(price, 5900000)","(mothly_fee, 5000.3)","(living_area, 111.9)","(number_rooms, 4)","(type, house)","(address, Östra torget 97, Stockholm)"
11,"(price, 7500000)","(mothly_fee, 6591.2)","(living_area, 146.5)","(number_rooms, 5)","(type, house)","(address, Björkvägen 6, Helsingborg)"
12,"(price, 3600000)","(mothly_fee, 3419.8)","(living_area, 83.4)","(number_rooms, 3)","(type, apartment)","(address, Ringvägen 56, Malmö)"
13,"(price, 3100000)","(mothly_fee, 2486.2)","(living_area, 60.5)","(number_rooms, 2)","(type, apartment)","(address, Tegnérsbacken 74, Örebro)"
14,"(price, 6300000)","(mothly_fee, 5611.8)","(living_area, 139.7)","(number_rooms, 4)","(type, house)","(address, Vasgatan 5, Örebro)"
15,"(price, 6800000)","(mothly_fee, 6082.9)","(living_area, 136.2)","(number_rooms, 4)","(type, house)","(address, Ringvägen 70, Uppsala)"
16,"(price, 4900000)","(mothly_fee, 4430.7)","(living_area, 109.9)","(number_rooms, 4)","(type, apartment)","(address, Stora gatan 65, Norrköping)"
17,"(price, 2300000)","(mothly_fee, 1861.9)","(living_area, 46.1)","(number_rooms, 2)","(type, apartment)","(address, Fasangränd 53, Helsingborg)"
18,"(price, 4700000)","(mothly_fee, 4306.4)","(living_area, 106.7)","(number_rooms, 4)","(type, house)","(address, Ringallén 5, Norrköping)"
19,"(price, 4600000)","(mothly_fee, 4465.7)","(living_area, 110.1)","(number_rooms, 4)","(type, house)","(address, Kyrkallén 12, Malmö)"
20,"(price, 7400000)","(mothly_fee, 6405.0)","(living_area, 142.0)","(number_rooms, 5)","(type, house)","(address, Drottningstigen 38, Göteborg)"
21,"(price, 2000000)","(mothly_fee, 1928.9)","(living_area, 47.7)","(number_rooms, 2)","(type, apartment)","(address, Björkgatan 98, Göteborg)"
22,"(price, 6700000)","(mothly_fee, 5599.6)","(living_area, 124.9)","(number_rooms, 4)","(type, house)","(address, Kungstigen 32, Jönköping)"
23,"(price, 5100000)","(mothly_fee, 4699.6)","(living_area, 114.2)","(number_rooms, 4)","(type, apartment)","(address, Kungsvägen 75, Helsingborg)"
24,"(price, 3500000)","(mothly_fee, 3588.6)","(living_area, 87.5)","(number_rooms, 3)","(type, apartment)","(address, Strandbacken 63, Västerås)"
25,"(price, 3100000)","(mothly_fee, 3287.4)","(living_area, 80.3)","(number_rooms, 3)","(type, apartment)","(address, Kyrkplatsen 59, Linköping)"
26,"(price, 4900000)","(mothly_fee, 4418.0)","(living_area, 109.6)","(number_rooms, 4)","(type, apartment)","(address, Tallvägen 17, Örebro)"
27,"(price, 6000000)","(mothly_fee, 5100.1)","(living_area, 113.8)","(number_rooms, 4)","(type, apartment)","(address, Strandallén 78, Stockholm)"
28,"(price, 5200000)","(mothly_fee, 4831.6)","(living_area, 122.9)","(number_rooms, 4)","(type, house)","(address, Västra vägen 31, Jönköping)"
29,"(price, 3800000)","(mothly_fee, 3877.8)","(living_area, 96.7)","(number_rooms, 3)","(type, house)","(address, Vasallén 81, Linköping)"
30,"(price, 6900000)","(mothly_fee, 5960.5)","(living_area, 132.8)","(number_rooms, 4)","(type, house)","(address, Fasanbacken 56, Malmö)"
31,"(price, 4500000)","(mothly_fee, 4260.6)","(living_area, 104.9)","(number_rooms, 4)","(type, apartment)","(address, Granvägen 96, Uppsala)"
32,"(price, 3100000)","(mothly_fee, 2677.3)","(living_area, 69.8)","(number_rooms, 3)","(type, apartment)","(address, Tallvägen 90, Västerås)"
33,"(price, 4200000)","(mothly_fee, 4109.9)","(living_area, 100.1)","(number_rooms, 4)","(type, house)","(address, Stora gatan 21, Linköping)"
34,"(price, 2500000)","(mothly_fee, 2146.1)","(living_area, 52.9)","(number_rooms, 2)","(type, apartment)","(address, Vasplatsen 24, Norrköping)"
35,"(price, 6300000)","(mothly_fee, 5305.2)","(living_area, 117.9)","(number_rooms, 4)","(type, apartment)","(address, Tallgränd 41, Göteborg)"
36,"(price, 5800000)","(mothly_fee, 5374.3)","(living_area, 128.8)","(number_rooms, 4)","(type, house)","(address, Granvägen 34, Stockholm)"
37,"(price, 6400000)","(mothly_fee, 5645.7)","(living_area, 125.5)","(number_rooms, 4)","(type, house)","(address, Drottninggatan 10, Malmö)"
38,"(price, 3800000)","(mothly_fee, 3665.3)","(living_area, 87.5)","(number_rooms, 3)","(type, apartment)","(address, Solallén 82, Jönköping)"
39,"(price, 1800000)","(mothly_fee, 1869.6)","(living_area, 39.5)","(number_rooms, 1)","(type, apartment)","(address, Lilla gatan 36, Linköping)"
40,"(price, 3700000)","(mothly_fee, 3757.2)","(living_area, 92.0)","(number_rooms, 3)","(type, house)","(address, Vasbacken 44, Jönköping)"
41,"(price, 5300000)","(mothly_fee, 4817.8)","(living_area, 120.3)","(number_rooms, 4)","(type, house)","(address, Solstigen 33, Örebro)"
42,"(price, 2100000)","(mothly_fee, 1880.0)","(living_area, 45.3)","(number_rooms, 2)","(type, apartment)","(address, Björkvägen 35, Norrköping)"
43,"(price, 7000000)","(mothly_fee, 6107.0)","(living_area, 135.8)","(number_rooms, 4)","(type, house)","(address, Stora vägen 20, Helsingborg)"
44,"(price, 4400000)","(mothly_fee, 4142.1)","(living_area, 102.7)","(number_rooms, 4)","(type, house)","(address, Kyrkstigen 18, Uppsala)"
45,"(price, 3300000)","(mothly_fee, 2923.4)","(living_area, 72.9)","(number_rooms, 3)","(type, apartment)","(address, Tallgatan 48, Helsingborg)"
46,"(price, 5400000)","(mothly_fee, 4749.1)","(living_area, 117.7)","(number_rooms, 4)","(type, apartment)","(address, Tegnérsbacken 79, Västerås)"
47,"(price, 3200000)","(mothly_fee, 3337.8)","(living_area, 81.8)","(number_rooms, 3)","(type, house)","(address, Tallbacken 6, Malmö)"
48,"(price, 2700000)","(mothly_fee, 2341.6)","(living_area, 58.8)","(number_rooms, 2)","(type, apartment)","(address, Vasallén 91, Stockholm)"
49,"(price, 7900000)","(mothly_fee, 6884.6)","(living_area, 153.0)","(number_rooms, 5)","(type, house)","(address, Centralgatan 85, Stockholm)"

In [18]:
df = pd.DataFrame([home.__dict__ for home in homes])

In [20]:
cheap_houses = df.query("price < 5000000 and type == 'house'")

cheap_houses

,price,mothly_fee,living_area,number_rooms,type,address
3,2900000,4043.9,99.5,3,house,"Tallvägen 70, Linköping"
5,3800000,3863.6,95.1,3,house,"Kyrkvägen 20, Örebro"
9,4300000,4160.7,100.3,4,house,"Stora gränd 71, Uppsala"
18,4700000,4306.4,106.7,4,house,"Ringallén 5, Norrköping"
19,4600000,4465.7,110.1,4,house,"Kyrkallén 12, Malmö"
29,3800000,3877.8,96.7,3,house,"Vasallén 81, Linköping"
33,4200000,4109.9,100.1,4,house,"Stora gatan 21, Linköping"
40,3700000,3757.2,92.0,3,house,"Vasbacken 44, Jönköping"
44,4400000,4142.1,102.7,4,house,"Kyrkstigen 18, Uppsala"
47,3200000,3337.8,81.8,3,house,"Tallbacken 6, Malmö"

In [23]:
cheap_houses.to_csv("cheaphouses.csv", index=False)